.home-main {
  background-color: #323f4b;
}

.home-ul {
  display: flex;
  justify-content: space-evenly;
  max-width: 90vw;
  margin: auto;
  list-style-type: none;
  flex-wrap: wrap;
}

.home-li {
  width: 180px;
  max-width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  flex-grow: 1;
}

.li-image {
  width: 100%;
  border-radius: 10px;
}

.li-title {
  color: #ffffff;
  font-size: 22px;
  margin-bottom: 10px;
}

.li-vote {
  color: #ffffff;
  font-size: 18px;
}

.link {
  text-decoration: none;
}

.home-input-div {
  width: 90%;
  margin: auto;
  padding-top: 20px;
  text-align: center;
  display: flex;
}
.home-input {
  width: 90%;
  background-color: transparent;
  border: solid 1px #ffffff;
  height: 24px;
  border-radius: 2px;
  padding: 5px;
  font-size: 12px;
  height: 32px;
  color: #ffffff;
  max-width: 500px;
  margin-bottom: 10px;
}
.submit-button {
  background-color: #30362f;
  height: 32px;
  border: solid 1px #ffffff;
  color: #ffffff;
}
